/*  ************************************************
    
    [Table of Contents]

    - Color Palette
    - General Structure
    - Header and Main Navigation
        + Banner
    - Primary Content

    ************************************************  */


/*  =============
    Color Palette 
    ============= */
    
:root {
    --raisin-black: #232020ff;
    }
    :root {
    --light-periwinkle: #d1d7f0;
    }
    :root {
    --amazon: #417b5a;
    }
    :root {
    --yellow-green-crayola: #c3d898;
    }


/*  =================
    General Structure
    ================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--amazon);
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

    
/*  ==========================
    Header and Main Navigation
    ========================== */

.header {
    background-color: var(--raisin-black);
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header h1 {
    font-size: 32px;
    text-align: center;
}

.header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .header nav li {
    float: left;
  }
  
  .header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header nav li a:hover {
    background-color: #111;
  }


/*  ------
    Banner
    ------ */

.banner {
    background-color: var(--amazon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 2px;
    width: 100%;
}

.banner h1 {
    color: #fff;
    text-align: center;
    font-size: 85px;
    margin-top: 350px;
}

#selfie {
    height: 100%;
    width: 600px;
    position: absolute;
    left: 650px;
    padding: 20px;
}

#selfie img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    /* max-width: 500px;
    height: auto; */
}


/*  ===============
    Primary Content
    =============== */

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 75px;
    padding-top: 40px;
    padding-bottom: 20px;
    height: auto;
    background-color: var(--light-periwinkle);
    /* background-color: var(--blue-yonder); */
}

.main section {
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    color: var(--raisin-black);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    margin: 1px; 
}

.main h2 {
    font-size: 55px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.title {
    width: 15%;
    margin-left: 40px;
    padding: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    padding: 40px;
    text-align: center;
    line-height: 30px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#first-app a {
    display: inline-block;
    width: 1000px;
    height: 700px;
}

#first-app img {
    width: 1000px;
    height: 700px;
}

.img {
    position: relative;
    right: 75px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    object-fit: cover; 
    background-color: #000;
}

.img a {
    height: 250px;
}

.img a img {
    width: 500px;
    height: 250px;
    opacity: 0.4;
    transition: opacity .5s ease;
}
 
.img img:hover {
    opacity: 1;
} 

.img a p {
    position: relative;
    left: 18px;
    bottom: 60px;
    width: 100px;
    border: 2px solid #000;
    background-color: #576CA8;
}

.fridge-label {
    position: relative;
    left: 18px;
    bottom: 65px;
    width: 100px;
    border: 2px solid rgb(158, 64, 64);
    background-color: #576CA8;
}

.contact section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-right: 30px;
}

.contact section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .contact section li {
    float: left;
    margin-right: 40px;
  }
  
  .contact section li a {
    display: block;
    color: var(--raisin-black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .contact section li a:hover {
    background-color: #b2bce6;
  }
  
